<h1> Welcome To "Bloggers"</h1>
<% @users.each do |user| %>
      <h1><a href="/blogs/<%= user.id %>"><%= user.name %> </h1>
  <ul>
    <h2> <%= user.title %> </h2> 
    <img class="img" src= "<%= user.photo %>" >
  </ul>
<% end %>  